body {
  background: rgb(241, 241, 241);
  margin: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
iframe {
  width: 100;
}
a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.showcase::after {
  content: "";
  height: 70vh;
  width: 100%;
  background-image: url(showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
  margin-bottom: 4rem;
}
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  right:0;
  max-width: 100vw;
  height: 350px;
  text-align: right;
  transition: all 1000ms;
  float:right;
}
 .logo {
  height: 250px;
  width: 600px;
  
  
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 2rem 2rem;
}
.card1 {
  background-image: linear-gradient(
    to top,
    #4f819b 0%,
    rgb(129, 189, 221) 100%
  );
  padding: 20px;
  line-height: 25px;
}
.card2 {
  background-image: linear-gradient(
    to top,
    #4f819b 0%,
    rgb(129, 189, 221) 100%
  );
  padding: 20px;
  line-height: 25px;
}
.nathaniel {
  width: 200px;
}
.card3 {
  background-image: linear-gradient(
    to top,
    #4f819b 0%,
    rgb(129, 189, 221) 100%
  );
  padding: 20px;
  line-height: 25px;
}
.grid-3 {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.center {
  text-align: center;
  margin: auto;
  padding: 10px;
}
.video-container {
  background-color: #333;
}
.video-container h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}
.grid-2 p,
h3 {
  padding: 20px;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: rgb(56, 56, 56);
  color: #f4f4f4;
}
.vimeolink {
  padding: 20px;
  width: 150px;
  background-color: #333;
  color: white;
  position: absolute;
  z-index: 1;
  
  transition: all 1000ms;
}
.vimeolink:hover {
  background-color: #4f819b;
}
.right {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px;
  line-height: 25px;
}
.right h1 {
  text-align: left;
  padding-left: 20px;
}
.left::after {
    content: "";
    height: 70vh;
    background-image: url(bandw.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: all 1000ms;
}
.left:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  .left:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
footer {
  padding: 2.2rem;
}
footer p {
  margin: 0;
}
.services {
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .showcase::after {
    height: 40vh;
  }
  .content {
    top: 5%;
    margin-top: 5px;
  }
  .content .logo {
    height: 150px;
    width: 300px;
    margin-left: 18rem;
  }
  .content .text {
    display: none;
  }
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .video-container {
    display: grid;
    grid-auto-rows: 1fr;
    background-color: white;
  }
  .container {
    padding-top: 20px;
  }
  iframe {
    width: 700px;
  }

  @media (max-width: 500px) {
    iframe {
      width: auto;
    }
    .content .logo {
      height: 80px;
      width: 160px;
      margin-left: 10rem;
    }
  }
  .left::after{
      height:25vh;
  }
  .container.center {
    margin-top: -3.5rem;
  }
  .vimeolink{
      width:260px;
  }
}
@media (max-width: 415px) {
  iframe {
    height: 200px;
    padding-top: 50px;
    margin-bottom:60px;
    
  }
  .container{
      padding:0px;
  }
  .center{
      padding-top:10px;
  }
  .fas.fa-film.fa-10x{
      display:none;
  }
  .vimeolink{
      margin-top:20px;
  }
}
@media (max-width: 360px) {
  iframe {
    margin-top:10px;
    margin-bottom:60px;
    height: 185px;
  }
  
}
@media (max-width: 320px) {
  iframe {
    height: 200px;
    margin-top:20px;
    margin-bottom:60px;
    
  }
}

@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }
  .content {
    top: 0%;
  }
}
